// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-fluid {
  min-width: 100%;
}

.container {
  margin-top: 5em !important;
  margin-bottom: 5em !important;
}

.paginate {
  margin-top: 2em;
}
.paginate:hover {
  cursor: pointer;
}